In [8]:
# From the 2008 to 2009 MODIS data, a couple of the variables change. Some of the names change, and 
# a variable are two that are in the 2008 data aren't in the 2009 data, and vice versa. The purpose of 
# this .ipynb is to examine these changes and try to decide how I'm going to handle these changes so that 
# I can still use all years of the data, rather than losing 2001-2008.

In [10]:
import shapefile
import pandas as pd
import os
import numpy as np

In [12]:
os.chdir('/Users/sallamander/galvanize/forest-fires/forest-fires/code')

In [14]:
from read_data import read_file, get_basefile_name

In [16]:
for year in xrange(2001, 2016):
    basefile_name = get_basefile_name(year)
    exec('shapefile_df_' + str(year) + ' = read_file(year, basefile_name)')

In [18]:
shapefile_df_2008.head(5)

,AREA,PERIMETER,MCD14ML_,MCD14ML_ID,WGS84LAT,WGS84LONG,T21,T31,SPIX,TPIX,DATE,JDATE,UTC,SATELLITE,FRP,CONFIDENCE
0,0.000000E+000,0.000000E+000,1,2744368,49.456,-97.233,314.3,296.9,2.9,1.6,"[2008, 8, 29]",2008242,1837,A,56.5,61
1,0.000000E+000,0.000000E+000,2,3592281,49.454,-118.294,314.9,278.7,1.5,1.2,"[2008, 10, 23]",2008297,1835,T,46.8,62
2,0.000000E+000,0.000000E+000,3,3572566,49.453,-118.194,315.0,274.3,1.1,1.1,"[2008, 10, 21]",2008295,1848,T,31.1,63
3,0.000000E+000,0.000000E+000,4,1297172,49.451,-104.505,311.9,298.6,1.8,1.3,"[2008, 5, 10]",2008131,1734,T,15.8,32
4,0.000000E+000,0.000000E+000,5,3397967,49.451,-97.114,324.7,293.6,1.4,1.2,"[2008, 10, 4]",2008278,1951,A,45.4,78

In [20]:
shapefile_df_2009.head(5)

,AREA,PERIMETER,FIRE_,FIRE_ID,LAT,LONG,DATE,JULIAN,GMT,TEMP,SPIX,TPIX,SRC,SAT_SRC,CONF,FRP
0,0.0000000000000E+000,0.0000000000000E+000,1,324524,4.945600E+001,-9.77250E+001,"[2009, 10, 22]",295,1905,313.6,1.3,1.1,gsfc,A,59,-9999.0
1,0.0000000000000E+000,0.0000000000000E+000,2,324523,4.945600E+001,-9.77250E+001,"[2009, 10, 22]",295,1901,313.6,1.4,1.1,gsfc_d,A,59,30.1
2,0.0000000000000E+000,0.0000000000000E+000,3,324522,4.945600E+001,-9.77250E+001,"[2009, 10, 22]",295,1901,313.6,1.4,1.1,ssec,A,59,30.1
3,0.0000000000000E+000,0.0000000000000E+000,4,130553,4.945600E+001,-9.77550E+001,"[2009, 5, 4]",124,1925,315.2,1.0,1.0,gsfc,A,63,-9999.0
4,0.0000000000000E+000,0.0000000000000E+000,5,659500,4.945600E+001,-9.74370E+001,"[2009, 9, 29]",272,1713,316.0,1.4,1.2,rsac,T,65,32.6

In [22]:
shapefile_df_2008.describe()

,MCD14ML_,MCD14ML_ID,WGS84LAT,WGS84LONG,T21,T31,SPIX,TPIX,JDATE,UTC,FRP,CONFIDENCE
count,85864.000000,85864.000000,85864.000000,85864.000000,85864.000000,85864.000000,85864.000000,85864.000000,85864.000000,85864.000000,85864.000000,85864.000000
mean,42932.500000,2004812.229072,36.660762,-101.896841,327.612012,297.610692,1.582568,1.202809,2008183.073209,1670.399108,71.056544,69.652707
std,24786.946094,1046558.256604,5.266189,15.345054,20.156341,8.534606,0.798391,0.244211,82.796749,475.708328,143.417076,22.010853
min,1.000000,111.000000,25.170000,-124.478000,305.000000,265.300000,1.000000,1.000000,2008001.000000,219.000000,0.000000,0.000000
25%,21466.750000,1108861.750000,32.476750,-119.180000,314.700000,292.900000,1.000000,1.000000,2008110.000000,1642.000000,18.200000,55.000000
50%,42932.500000,1842333.500000,36.249000,-98.063000,321.600000,297.500000,1.200000,1.100000,2008185.000000,1843.000000,33.500000,72.000000
75%,64398.250000,2870766.250000,40.436000,-89.633750,333.400000,302.200000,1.800000,1.300000,2008248.000000,1938.000000,70.000000,87.000000
max,85864.000000,4369809.000000,49.456000,-66.904000,503.600000,400.100000,4.800000,2.000000,2008366.000000,2216.000000,6069.700000,100.000000

In [24]:
shapefile_df_2009.describe()

,FIRE_,FIRE_ID,JULIAN,GMT,TEMP,SPIX,TPIX,CONF,FRP
count,171484.000000,171484.000000,171484.000000,171484.000000,171484.000000,171484.000000,171484.000000,171484.000000,171484.000000
mean,85742.500000,328463.904580,157.346575,1715.958888,327.273831,1.589754,1.200212,68.954025,-3427.741610
std,49503.311118,211571.785369,86.843825,397.490136,20.332660,0.800758,0.252013,21.204471,4796.152902
min,1.000000,44.000000,1.000000,209.000000,305.000000,1.000000,1.000000,0.000000,-9999.000000
25%,42871.750000,113992.750000,87.000000,1655.000000,314.600000,1.100000,1.000000,55.000000,-9999.000000
50%,85742.500000,329945.000000,142.000000,1837.000000,321.000000,1.300000,1.100000,71.000000,16.100000
75%,128613.250000,508501.250000,233.000000,1928.000000,332.200000,1.700000,1.300000,85.000000,42.400000
max,171484.000000,687137.000000,365.000000,2220.000000,504.100000,4.800000,2.000000,100.000000,7858.600000

The distribution of T21 looks to match up almost exactly to TEMP, so I am going to use that for the TEMP variable 
prior to 2009. The 2008 SATELLITE variable corresponds to to the SAT_SRC in 2009+, and the SRC variable in 2009+ 
appears for now to be useless (it doesn't exist prior to 2008). The JDATE prior to 2008 needs to be parsed - it holds the year plus the part that I want. The FRP looks odd in 2009 - the mean is negative, which is most likely due to the 
many negative values (-9999). I need to look into that.

In [26]:
mask = shapefile_df_2009.eval('FRP == -9999')
np.unique(shapefile_df_2009[mask]['SRC'])

array(['gsfc'], dtype=object)

Per the above, all of the -9999 values for FRP are coming from rows where the source is gsfc, or the NASA-Goddard Space Flight Center MODIS Rapid Response System. Let's see if this is true in other years.

In [27]:
for year in xrange(2009, 2016): 
    mask = eval("shapefile_df_" + str(year) + ".eval('FRP == -9999')")
    print np.unique(eval("shapefile_df_" + str(year) + "[mask]['SRC']"))

['gsfc']
['gsfc']
[]
[]
[]
[]
[]

In [28]:
# Let's see if there just aren't any -9999 values in 2011+ (as the above seems to indicate). 
shapefile_df_2015['FRP'].describe()

count    140171.000000
mean         64.546531
std         230.550129
min           0.000000
25%          11.500000
50%          22.300000
75%          50.800000
max       13692.200000
Name: FRP, dtype: float64

In [29]:
# Is the GSFC SRC not present in 2011+?
np.unique(shapefile_df_2015['SRC'])

# It's present in all years... I'll have to look into raw satellite data to figure out what's going on with 
# those -9999 values.

array(['gsfc', 'gsfc_drl', 'rsac', 'ssec', 'uaf'], dtype=object)

In [30]:
# Are there other characteristics of those obs. that will distinguish them? Maybe time, location, something?
mask = shapefile_df_2009['FRP'] == -9999
shapefile_df_2009[mask].describe()

,FIRE_,FIRE_ID,JULIAN,GMT,TEMP,SPIX,TPIX,CONF,FRP
count,59569.000000,59569.000000,59569.000000,59569.000000,59569.000000,59569.000000,59569.000000,59569.000000,59569
mean,86426.224546,318752.440817,157.798855,1738.676258,327.422122,1.588474,1.202755,69.103527,-9999
std,49642.605517,211067.757610,87.884909,387.603201,20.373007,0.807166,0.247963,21.105867,0
min,1.000000,44.000000,1.000000,210.000000,305.000000,1.000000,1.000000,0.000000,-9999
25%,43580.000000,104109.000000,82.000000,1705.000000,314.700000,1.100000,1.000000,55.000000,-9999
50%,87235.000000,320924.000000,143.000000,1845.000000,321.100000,1.200000,1.100000,71.000000,-9999
75%,129302.000000,495397.000000,233.000000,1940.000000,332.500000,1.800000,1.300000,85.000000,-9999
max,171484.000000,687137.000000,365.000000,2220.000000,504.100000,4.800000,2.000000,100.000000,-9999

In [41]:
shapefile_df_2009[~mask].describe()

,FIRE_,FIRE_ID,JULIAN,GMT,TEMP,SPIX,TPIX,CONF,FRP
count,111915.000000,111915.000000,111915.000000,111915.000000,111915.000000,111915.000000,111915.000000,111915.000000,111915.000000
mean,85378.573918,333633.025653,157.105839,1703.867113,327.194900,1.590435,1.198859,68.874449,69.942267
std,49425.374008,211658.887066,86.283993,402.132376,20.310801,0.797329,0.254133,21.256434,169.563483
min,2.000000,60.000000,1.000000,209.000000,305.000000,1.000000,1.000000,0.000000,0.000000
25%,42484.000000,117776.000000,90.000000,1651.000000,314.600000,1.100000,1.000000,55.000000,16.800000
50%,84933.000000,336332.000000,142.000000,1831.000000,320.900000,1.300000,1.100000,71.000000,31.100000
75%,128272.500000,516704.500000,232.000000,1923.000000,332.000000,1.700000,1.300000,85.000000,65.600000
max,171483.000000,687136.000000,365.000000,2220.000000,503.600000,4.800000,2.000000,100.000000,7858.600000

In [32]:
mask_opposite = 1 - mask
mask_opposite

0         0
1         1
2         1
3         0
4         1
5         0
6         1
7         1
8         0
9         1
10        1
11        1
12        1
13        1
14        1
15        1
16        0
17        0
18        0
19        1
20        1
21        0
22        1
23        1
24        0
25        0
26        1
27        1
28        1
29        1
         ..
171454    0
171455    1
171456    1
171457    0
171458    0
171459    0
171460    0
171461    0
171462    0
171463    0
171464    1
171465    0
171466    1
171467    1
171468    0
171469    1
171470    0
171471    1
171472    1
171473    1
171474    0
171475    1
171476    1
171477    1
171478    1
171479    0
171480    0
171481    1
171482    1
171483    0
Name: FRP, dtype: int64